.cust1{
    background-color: lightgrey;
    padding: 120px 100px;
}
.cust2{
    display: flex;
    padding:60px 100px
}
.white-board-image{
    width: 600px;position:absolute;top:100px;
}
.study-com-logo{
    transform: scale(0.6);
}
.study-com-text{
    font-size: 25px;
}
.cust-left{
    width:550px
}
.cust3{
    padding:100px 100px;display:flex;justify-content:space-evenly
}
.freskdesk-logo{
    width: 700px;
}
.cust4{
    display: flex;
    padding: 80px 100px;
    margin: auto;
    justify-content: center;
}
.freedom-text{
    width: 350px;
    
}
.cust4-right{
    padding: 40px;
}

.cust5{
    padding:100px 100px;display:flex;justify-content:space-evenly;
}

.cust7{
    display:grid;grid-template-columns:repeat(2,1fr);gap:20px;padding:100px 300px;
    align-items: center;
}
.cust-list{
    height: max-content;
}
@media all and (min-width: 440px) and (max-width: 900px) {
    .cust1{
        padding: 120px 0px;}
        .cust2{
            padding: 50px 0px;
        }
        .white-board-image{
            position: static;
        }
        .study-com-logo{
            padding-left: 0px;
            display: hidden;
            
        }
        .study-com-text{
            padding: 0px;
            font-size: 20px;
        }
        .cust3{
            padding: 50px 0px;
        }
        .cust3-image{
            border: 1px solid;
            padding: 10px;
            /* padding-top: 8px; */
            
        }
        .cust4{
            padding: 80px 50px;
            display: grid;
            grid-template-columns: repeat(1,1fr);
        }
        .cust5{
            padding:100px 20px;display:grid;
            grid-template-columns: repeat(4,1fr);
            gap: 20px;
        }
        .cust5-image{
            border: 1px solid gray;
        }
        .cust7{
            padding: 100px 0px;
        }
        
}

@media all and (min-width: 100px) and (max-width: 440px) {
    .cust1{
        padding: 120px 0px;
    width: 540px;}
    .white-board-image{
        position: static;
        
    }
    iframe{
        width: 600;
    }
    .cust2{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 50px 0px;
    }
   .cust2-left{
    width: max-content;
    /* padding: 0px; */
   }
  
   .cust3{
    padding: 50px 0px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
}
.cust3-image{
    border: 1px solid;
    /* padding: 5px; */
    
}
.cust4{
    padding: 80px 0px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.cust5{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding: 100px 0px;
    gap: 25px;
    justify-content: space-between;
}
.cust5-image{
    border: 1px solid gray;
    padding: 5px;
}
.cust7{
    padding: 100px 0px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
}
.cust-list{
    width: 540px;
}

}